[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "iMRMC"]
	path = iMRMC
	url = https://github.com/cran/iMRMC
	shallow = true
	registered = true
